@model PagedList.IPagedList<CI.Entities.Author>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Управление авторами";
}

<div class="page-header center">
  <h1>@ViewBag.Title</h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th style="width: 50%">Автор/Исполнитель</th>
            <th style="width: 50%">Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td id="@item.ID">
                <div>
                    @Html.ActionLink("Редактировать", "Edit", "Author"
                                , new {id = item.ID}
                                ,new {@class = "btn btn-sm btn-info", role = "button"})
                    @Html.ActionLink("Удалить", "Delete", "Author"
                            , new {id = item.ID}, new {@class = "deleteBtn btn btn-sm btn-danger", role = "button", disabled = "disabled"})
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Audiofiles", new RouteValueDictionary {{"page", page }}), PagedListRenderOptions.Classic)

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>

<script>
    $(function () {
        $(".deleteBtn").click(function (e) {
            e.preventDefault();
            pid = $(this).parent().parent().attr("id");
            $('#dialog-confirm').dialog('open');
        });
        $("#dialog-confirm").dialog({
            open: function (event) {
                $(".ui-dialog-titlebar-close").hide();
                $(".ui-dialog-title").hide();
            },
            resizable: false,
            modal: true,
            autoOpen: false,
            buttons: {
                "OK": function () {
                    deleteRecord(pid);
                    $("td#" + pid).parent().fadeOut("slow").remove();
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        function deleteRecord(pid) {
            $.ajax({
                type: "POST",
                url: $(".deleteBtn").attr("href"),
                data: { id: pid }
            });
        };
    });
</script>

<div id="dialog-confirm">Вы действительно хотите удалить данного автора? Все аудиофайлы, принадлежащие данному автору будут удалены.</div>