@model PagedList.IPagedList<CI.Entities.Audiofile>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Аудиофайлы";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/audiojs/audio.min.js")"></script>
<script>
    audiojs.events.ready(function () {
        var as = audiojs.createAll();
    });
</script>

<div class="page-header center">
  <h1>@ViewBag.Title</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th style="width: 40%">Название</th>
            <th style="width: 35%">Автор</th>
            <th style="width: 15%">Жанр</th>
            <th style="width: 10%">Год</th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.ID})
            </td>
            <td>
                @Html.ActionLink(item.Author.Name, "Details", "Author", new { id = item.AuthorID}, null)
            </td>
            <td>
                @Html.ActionLink(item.Genre.Name, "Details", "Genre", new { id = item.GenreID}, null)
            </td>
            <td>
                @Html.DisplayFor(x => item.Year)
            </td>
            @*<td>
                <audio src="@Url.Content(String.Concat("~/_uploads/audio/", item.Filename))" preload="none" type="audio/mpeg"/>
            </td>*@
        </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new RouteValueDictionary {{"page", page }}), PagedListRenderOptions.Classic)