@model PagedList.IPagedList<CI.Entities.Audiofile>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="page-header center">
        <h1>Результаты поиска <small>по запросу: "@Html.ViewBag.Title"</small></h1>
</div>

@if (Model.Count() > 0)
{
    <table class="table table-hover">
    <thead>
        <tr>
            <th style="width: 40%">Название</th>
            <th style="width: 10%">Год</th>
            <th style="width: 35%">Автор/Исполнитель</th>
            <th style="width: 15%">Жанр</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", "Audiofile", new { id = item.ID}, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.ActionLink(item.Author.Name, "Details", "Author", new { id = item.AuthorID}, null)
            </td>
            <td>
                @Html.ActionLink(item.Genre.Name, "Details", "Genre", new { id = item.GenreID}, null)
            </td>
        </tr>
        }
    </tbody>
</table>
    
@Html.PagedListPager(Model, page => Url.Action("SearchResults", new RouteValueDictionary {{"searchString", ViewBag.Title}, {"page", page }}), PagedListRenderOptions.Classic)
}
else
{
    <p>Поиск не дал результатов</p>
}